<form action="/figures/<%=@figure.id%>" method="post">
   <input type="hidden" id="hidden" name="_method" value="patch">
   <label for="figure[name]">Name of Figure:</label>
   <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">
   <h5>Choose existing titles: </h5>
   <% Title.all.each do |title| %>
   <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%> ><%=title.name%></input>
   <%end%>
   <h5>and/or create a title: </h5>
   <label for="title[name]">New title: </label>
   <input type="text" name="title[name]" id="new_title">
   <br>
   <h5>Choose existing landmarks: </h5>
   <% Landmark.all.each do |land| %>
   <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=land.id%>" value="<%=land.id%>"> <%='checked' if @figure.landmarks.include?(land) %><%=land.name%></input>
   <%end%>
   <h5>and/or create a landmark: </h5>
   <label for="landmark[name]">New landmark: </label>
   <input type="text" name="landmark[name]" id="new_landmark">
   <br><br>
   <input type="submit" name="" value="Edit Figure">
 
 </form>