<h1>Create A New Figure</h1>

<form action="/figures" method="POST">
  <label for="figure_name">Figure Name:</label>
  
  <input type="text" name="figure[name]" id="figure_name">
  
  <br></br>

  <label>Figure Title:</label>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%=title.id %>"><%= title.name %>
  <% end %>
  <p>and/or create a new title:</p>
  <label>new Title:</label>
  <input type="text" name="title[name]" id="new_title">

  <br></br>

  <label>Figure Landmark:</label>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%=landmark.id %>"><%= landmark.name %>
  <% end %>
  <p>and/or create a new Landmark:</p>
  <label>New Landmark:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  
  <input type="submit" value="Create New Figure">
</form>

